django==2.0.1 
djangorestframework==3.7.7
pytz==2017.2
psycopg2==2.7.1
requests==2.18.2
google-auth == 1.4.1
google-auth-oauthlib == 0.2.0
google-auth-httplib2 == 0.0.3
PyJWT==1.5.3
raven==6.5.0
uwsgi==2.0.17
oauth2client == 3.0.0
git+git://github.com/google/google-api-python-client.git@cb2ce4f35c31f8f3abea14f57f9fbf96cbaf0c06
git+git://github.com/django-recurrence/django-recurrence.git@da5bcacb2c14f1cdcaaeb9228a8a58a189734bce
django-cors-headers==2.1.0
django-pg-utils==0.1.5